<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>20.0</odometryRate>
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
        <plugin name="gazebo_ros_state" filename="libgazebo_ros_state.so">
            <ros>
            <namespace>/</namespace>
            <argument>model_states:=model_states_demo</argument>
          </ros>
          <update_rate>1.0</update_rate>
        </plugin>
    </gazebo>

</robot>