<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omnibot">

	<xacro:include filename="inertial_macros.xacro"/>

	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.326 0.206 .094"/>
			</geometry>
			<origin xyz="0 0 0.072"/>
			<material name="white">
				<color rgba="1 1 1 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="0.326 0.206 .094"/>
			</geometry>
			<origin xyz="0 0 0.072"/>
		</collision>
		<xacro:inertial_box mass="0.5" x="0.326" y="0.206" z="0.094">
			<origin xyz="0 0 0.072"/>
		</xacro:inertial_box>
	</link>

	<link name="base_laser">
		<visual>
			<geometry>
				<cylinder length="0.02" radius="0.04"/>
			</geometry>
		</visual>
	</link>

	<joint name="base_link_to_base_laser" type="fixed">
		<parent link="base_link"/>
		<child link="base_laser"/>
		<origin rpy="0 0 0" xyz="0.097 0.0 0.125"/>
	</joint>

	<gazebo reference="base_laser">
		<material>Gazebo/Red</material>
		<sensor type="ray" name="base_laser">
			<pose>0 0 0 0 0 0</pose>
			<visualize>true</visualize>
			<update_rate>10</update_rate>
			<ray>
				<scan>
					<horizontal>
						<samples>360</samples>
						<resolution>1</resolution>
						<min_angle>-3.1415926535897931</min_angle>
						<max_angle>3.1415926535897931</max_angle>
					</horizontal>
				</scan>
				<range>
					<min>0.3</min>
					<max>12</max>
					<resolution>0.01</resolution>
				</range>
			</ray>
			<plugin name="base_laser_controller" filename="libgazebo_ros_ray_sensor.so">
				<ros>
					<argument>~/out:=scan</argument>
				</ros>
				<output_type>sensor_msgs/LaserScan</output_type>
				<frameName>base_laser</frameName>
			</plugin>
		</sensor>
	</gazebo>



</robot>